---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

//Components
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';
import BlogTag from '../../components/BlogTag.astro';

//Layouts
import MainLayout from '../../layouts/MainLayout.astro';

const blogPosts = await getCollection('blog');

// Define consistent dimensions for all blog post thumbnails
const thumbnailWidth = 400;
const thumbnailHeight = 225; // 16:9 aspect ratio, but you can adjust as needed
---

<MainLayout title="UI Design Tips & Web Design Tutorials for Small Businesses | CodeNHammer Blog" description="Get actionable tips, best practices, and insights for designing small business websites. Our blog provides tutorials tailored for contractors and freelance designers.">
    <Navigation></Navigation>

    <section>
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

            <!-- Header Start -->
            <div class="max-w-screen-sm mb-8 lg:mb-16">
                <h2 class="mb-4 text-4xl tracking-tight font-bold text-neutral-900">Our Blog</h2>
                <p class="text-neutral-500 sm:text-xl">Get all the latest news from the CodeNHammer team.</p>
            </div> 
            <!-- Header End -->

            <!-- Blog Grid Container Start -->
            <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">

                {blogPosts.map((post) => (
                <article class="p-4 bg-white rounded-md border border-neutral-200 transition ease-in-out hover:shadow-md hover:border-blue-200 hover:bg-blue-50/10">
                    <a href={`/blog/${post.slug}`}>
                        <div class="mb-5 aspect-video overflow-hidden rounded-md">
                            <Image 
                                src={post.data.image.url} 
                                alt={post.data.image.alt} 
                                width={thumbnailWidth} 
                                height={thumbnailHeight}
                                class="w-full h-full object-cover"
                                transition:name={`image-${post.slug}`}
                            />
                        </div>
                        <div class="mb-2">
                            {post.data.tags && post.data.tags.map((tag) => (
                                <BlogTag tag={tag} />
                            ))}
                        </div>
                        <h2 class="text-2xl font-semibold mb-2" transition:name={`title-${post.slug}`}>{post.data.title}</h2>
                        <p class="text-neutral-600 mb-4" transition:name={`description-${post.slug}`}>{post.data.description}</p>
                        <span class="text-sm text-neutral-500">{new Date(post.data.pubDate).toLocaleDateString()} · {post.data.read}</span>
                    </a>
                </article>
                ))}
            
            </div> 
            <!-- Blog Grid Container End -->

        </div>
    </section>

    <Footer></Footer>

</MainLayout>
