---
const {title} = Astro.props;
const {metaDescription} = Astro.props;
---

<html lang="en" class="scroll-smooth">
	<head>
		<!-- Google tag (gtag.js) Starts -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-N50GG4P6Y3"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-N50GG4P6Y3');
		</script>
		<!-- Google tag (gtag.js) Ends -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/svg/CNH-Favicon.svg" />
		<link rel="styles" href="/styles/main.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={metaDescription} />
	</head>
	<body class="bg-zinc-950">
		<slot>
	</body>
</html>

