---
const {title} = Astro.props;
const {metaDescription} = Astro.props;
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/svg/CNH-Favicon.svg" />
		<link rel="styles" href="/styles/main.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={metaDescription} />
	</head>
	<body class="bg-zinc-950">
		<slot>
	</body>
</html>

